@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Pices of Eight";
  src: url("/public/fonts/Pieces_of_Eight.ttf");
}
*, html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.btn {
  border: 1px solid white;
  padding: 10px 50px;
  text-decoration: none;
  color: white;
  width: 100%;
  display: block;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem;
}

.homepage {
  position: relative;
  overflow: hidden;
  height: 300vh;
}
.homepage_header {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.homepage_header_image {
  width: 100%;
  height: 100%;
}
.homepage_header_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homepage_main {
  position: fixed;
  z-index: 2;
  bottom: 5rem;
  width: 120vw;
  margin: 0 auto;
  left: 5vw;
  padding: 50px 0;
  animation: scrollHomeMain 1s linear;
}
.homepage_main_container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.homepage_main_container .list_items {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.homepage_main_container .list_items h2 {
  font-family: "Pices of Eight", sans-serif;
  color: white;
  font-size: 3rem;
}
.homepage_main_container .list_items a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
}
.homepage_main_container hr {
  border-radius: 25px;
  height: 80px;
  width: 3px;
  color: white;
  background-color: white;
}
.homepage_main .background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.6);
  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px);
}

@keyframes scrollHomeMain {
  to {
    transform: translateX(-100%);
  }
}
.listActors {
  position: relative;
  overflow: hidden;
}
.listActors_header {
  width: 100vw;
  height: 100vh;
}
.listActors_header_image {
  width: 100%;
  height: 100%;
}
.listActors_header_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.listActors_addActor {
  position: fixed;
  left: 50px;
  top: 70px;
  z-index: 101;
}
.listActors_addActor a {
  font-family: "Pices of Eight", sans-serif;
  color: white;
  font-size: 2.5rem;
  text-decoration: none;
}
.listActors_slider {
  position: absolute;
  display: flex;
  inset: 0;
}
.listActors_slider input[type=radio] {
  opacity: 0;
}
.listActors_slider .slider {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  opacity: 1;
  -webkit-transition: -webkit-transform 1600ms;
  transition: -webkit-transform 1600ms, transform 1600ms;
  color: white;
}
.listActors_slider .slider .actors {
  padding: 15rem;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  background: radial-gradient(circle, rgb(2, 0, 36) 0%, rgba(26, 29, 41, 0.1) 0%, rgb(26, 29, 41) 100%);
}
.listActors_slider .slider .actors_name {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1s; /* Safari */
  transition-delay: 1s;
  text-align: center;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
  opacity: 0;
}
.listActors_slider .slider .actors_name h2 {
  font-size: 5rem;
  font-family: "Pices of Eight", sans-serif;
  margin-bottom: 3rem;
}
.listActors_slider .slider .actors_films {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1s; /* Safari */
  transition-delay: 1s;
  text-align: center;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
  opacity: 0;
}
.listActors_slider .slider .actors_films p {
  font-size: 2.5rem;
  text-decoration: underline;
}
.listActors_slider .slider .actors_films ul {
  list-style-type: none;
  padding: 0;
}
.listActors_slider .slider .actors_films ul li p {
  font-size: 2rem;
  text-decoration: none;
}
.listActors_slider .slide1 {
  left: 0;
}
.listActors_slider .slide2 {
  left: 100%;
}
.listActors_slider .slide3 {
  left: 200%;
}
.listActors_slider .slide4 {
  left: 300%;
}
.listActors_slider .slide5 {
  left: 400%;
}
.listActors_slider .slide6 {
  left: 500%;
}
.listActors_slider .slide7 {
  left: 600%;
}
.listActors_slider .slide8 {
  left: 700%;
}
.listActors_slider .slide9 {
  left: 800%;
}
.listActors_slider .slide10 {
  left: 900%;
}
.listActors_slider .slide11 {
  left: 1000%;
}
.listActors_slider .slide12 {
  left: 1100%;
}
.listActors_slider .slide13 {
  left: 1200%;
}
.listActors_slider .control {
  position: absolute;
  top: 50%;
  z-index: 55;
  width: 50px;
  height: 50px;
  margin-top: -25px;
}
.listActors_slider .control label {
  z-index: 0;
  display: none;
  text-align: center;
  line-height: 50px;
  font-size: 50px;
  color: #FFF;
  cursor: pointer;
  opacity: 0.7;
}
.listActors_slider .control label:hover {
  opacity: 1;
}
.listActors_slider .control.next {
  right: 3rem;
}
.listActors_slider .control.next img {
  width: 100%;
}
.listActors_slider .control.previous {
  left: 3rem;
}
.listActors_slider .control.previous img {
  width: 100%;
  transform: rotate(180deg);
}
.listActors_slider .slide-radio1:checked ~ .next .numb2,
.listActors_slider .slide-radio2:checked ~ .next .numb3,
.listActors_slider .slide-radio2:checked ~ .previous .numb1,
.listActors_slider .slide-radio3:checked ~ .next .numb4,
.listActors_slider .slide-radio3:checked ~ .previous .numb2,
.listActors_slider .slide-radio4:checked ~ .previous .numb3,
.listActors_slider .slide-radio4:checked ~ .next .numb5,
.listActors_slider .slide-radio5:checked ~ .previous .numb4,
.listActors_slider .slide-radio5:checked ~ .next .numb6,
.listActors_slider .slide-radio6:checked ~ .previous .numb5,
.listActors_slider .slide-radio6:checked ~ .next .numb7,
.listActors_slider .slide-radio7:checked ~ .previous .numb6,
.listActors_slider .slide-radio7:checked ~ .next .numb8,
.listActors_slider .slide-radio8:checked ~ .previous .numb7,
.listActors_slider .slide-radio8:checked ~ .next .numb9,
.listActors_slider .slide-radio9:checked ~ .previous .numb8,
.listActors_slider .slide-radio9:checked ~ .next .numb10,
.listActors_slider .slide-radio10:checked ~ .previous .numb9,
.listActors_slider .slide-radio10:checked ~ .next .numb11,
.listActors_slider .slide-radio11:checked ~ .previous .numb10,
.listActors_slider .slide-radio11:checked ~ .next .numb12,
.listActors_slider .slide-radio12:checked ~ .previous .numb11,
.listActors_slider .slide-radio12:checked ~ .next .numb13,
.listActors_slider .slide-radio13:checked ~ .previous .numb12 {
  display: block;
  z-index: 1;
}
.listActors_slider .slide-radio1:checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.listActors_slider .slide-radio2:checked ~ .slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.listActors_slider .slide-radio3:checked ~ .slider {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.listActors_slider .slide-radio4:checked ~ .slider {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}
.listActors_slider .slide-radio5:checked ~ .slider {
  -webkit-transform: translateX(-400%);
  transform: translateX(-400%);
}
.listActors_slider .slide-radio6:checked ~ .slider {
  -webkit-transform: translateX(-500%);
  transform: translateX(-500%);
}
.listActors_slider .slide-radio7:checked ~ .slider {
  -webkit-transform: translateX(-600%);
  transform: translateX(-600%);
}
.listActors_slider .slide-radio8:checked ~ .slider {
  -webkit-transform: translateX(-700%);
  transform: translateX(-700%);
}
.listActors_slider .slide-radio9:checked ~ .slider {
  -webkit-transform: translateX(-800%);
  transform: translateX(-800%);
}
.listActors_slider .slide-radio10:checked ~ .slider {
  -webkit-transform: translateX(-900%);
  transform: translateX(-900%);
}
.listActors_slider .slide-radio11:checked ~ .slider {
  -webkit-transform: translateX(-1000%);
  transform: translateX(-1000%);
}
.listActors_slider .slide-radio12:checked ~ .slider {
  -webkit-transform: translateX(-1100%);
  transform: translateX(-1100%);
}
.listActors_slider .slide-radio13:checked ~ .slider {
  -webkit-transform: translateX(-1200%);
  transform: translateX(-1200%);
}
.listActors_slider .slide-radio1:checked ~ .slide1 .actors_name,
.listActors_slider .slide-radio1:checked ~ .slide1 .actors_films,
.listActors_slider .slide-radio1:checked ~ .slide1 .button,
.listActors_slider .slide-radio2:checked ~ .slide2 .actors_name,
.listActors_slider .slide-radio2:checked ~ .slide2 .actors_films,
.listActors_slider .slide-radio2:checked ~ .slide2 .button,
.listActors_slider .slide-radio3:checked ~ .slide3 .actors_name,
.listActors_slider .slide-radio3:checked ~ .slide3 .actors_films,
.listActors_slider .slide-radio3:checked ~ .slide3 .button,
.listActors_slider .slide-radio4:checked ~ .slide4 .actors_name,
.listActors_slider .slide-radio4:checked ~ .slide4 .actors_films,
.listActors_slider .slide-radio4:checked ~ .slide4 .button,
.listActors_slider .slide-radio5:checked ~ .slide5 .actors_name,
.listActors_slider .slide-radio5:checked ~ .slide5 .actors_films,
.listActors_slider .slide-radio5:checked ~ .slide5 .button,
.listActors_slider .slide-radio6:checked ~ .slide6 .actors_name,
.listActors_slider .slide-radio6:checked ~ .slide6 .actors_films,
.listActors_slider .slide-radio6:checked ~ .slide6 .button,
.listActors_slider .slide-radio7:checked ~ .slide7 .actors_name,
.listActors_slider .slide-radio7:checked ~ .slide7 .actors_films,
.listActors_slider .slide-radio7:checked ~ .slide7 .button,
.listActors_slider .slide-radio8:checked ~ .slide8 .actors_name,
.listActors_slider .slide-radio8:checked ~ .slide8 .actors_films,
.listActors_slider .slide-radio8:checked ~ .slide8 .button,
.listActors_slider .slide-radio9:checked ~ .slide9 .actors_name,
.listActors_slider .slide-radio9:checked ~ .slide9 .actors_films,
.listActors_slider .slide-radio9:checked ~ .slide9 .button,
.listActors_slider .slide-radio10:checked ~ .slide10 .actors_name,
.listActors_slider .slide-radio10:checked ~ .slide10 .actors_films,
.listActors_slider .slide-radio10:checked ~ .slide10 .button,
.listActors_slider .slide-radio11:checked ~ .slide11 .actors_name,
.listActors_slider .slide-radio11:checked ~ .slide11 .actors_films,
.listActors_slider .slide-radio11:checked ~ .slide11 .button,
.listActors_slider .slide-radio12:checked ~ .slide12 .actors_name,
.listActors_slider .slide-radio12:checked ~ .slide12 .actors_films,
.listActors_slider .slide-radio12:checked ~ .slide12 .button,
.listActors_slider .slide-radio13:checked ~ .slide13 .actors_name,
.listActors_slider .slide-radio13:checked ~ .slide13 .actors_films,
.listActors_slider .slide-radio13:checked ~ .slide13 .button {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

body.films {
  background-color: #000;
}

.listFilm {
  animation: opacityScroll 1s linear;
  opacity: 1;
}
.listFilm_addFilm {
  position: fixed;
  left: 50px;
  top: 70px;
  z-index: 101;
}
.listFilm_addFilm a {
  font-family: "Pices of Eight", sans-serif;
  color: white;
  font-size: 2.5rem;
  text-decoration: none;
}
.listFilm .background {
  position: fixed;
  z-index: 1;
  inset: 0;
  left: -10rem;
  width: 120vw;
  height: 100vh;
  background-color: transparent;
}
.listFilm_header {
  opacity: 1;
  animation: opacityScroll 1s linear;
  position: fixed;
  inset: 0;
  height: 100vh;
}
.listFilm_header_image {
  width: 100%;
  height: 100%;
}
.listFilm_header_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.listFilm_header_logo {
  width: 70%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.listFilm_header_logo h1 {
  font-family: "Pices of Eight", sans-serif;
  color: white;
  font-size: 10rem;
  text-align: center;
}
.listFilm_movies {
  position: relative;
  transform: translateY(80vh);
  width: 80%;
  margin: 0 auto;
  padding: 5rem 0;
  z-index: 1;
}
.listFilm_movies h2 {
  position: relative;
  color: white;
  margin-bottom: 5rem;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}
.listFilm_movies .movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between;
}
.listFilm_movies .movies_card {
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  flex: 0 0 30%;
  position: relative;
}
.listFilm_movies .movies_card_image img {
  width: 100%;
}
.listFilm_movies .movies_card_info {
  background: radial-gradient(circle, rgb(2, 0, 36) 0%, rgba(26, 29, 41, 0.1) 0%, rgb(26, 29, 41) 100%);
  position: absolute;
  top: 50%;
  padding: 0 15px;
  height: 100%;
  inset: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s all ease;
}
.listFilm_movies .movies_card_info h3 {
  color: white;
  font-size: 2.5rem;
}
.listFilm_movies .movies_card_info p {
  color: white;
  font-size: 1.5rem;
}
.listFilm_movies .movies_card_info a {
  color: white;
  font-size: 1.5rem;
}
.listFilm_movies .movies_card:hover .movies_card_info {
  opacity: 1;
  transition: 0.5s all ease;
}

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -0.3s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes opacityScroll {
  to {
    opacity: 0.8;
  }
}
.header {
  position: fixed;
  z-index: 100;
  inset: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding: 10px 50px;
  background-color: transparent;
}
.header_logo a {
  text-decoration: none;
  color: white;
}
.header_logo a h1 {
  font-family: "Pices of Eight", sans-serif;
  font-size: 3rem;
}
.header_menu .menu {
  display: flex;
  padding: 0;
  list-style-type: none;
  gap: 3rem;
  align-items: center;
  margin-bottom: 0;
}
.header_menu .menu li a {
  text-decoration: none;
  font-family: "Pices of Eight", sans-serif;
  color: white;
  font-size: 2.5rem;
}

body.login {
  min-height: 100vh;
  background-image: url(../img/black_pearl.jpeg);
  background-size: cover;
  background-position: center;
}
body.login #login__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body.login #login__content-form {
  height: fit-content;
  max-width: 500px;
  margin-inline: auto;
  padding: 30px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
body.login #login__content-form h1 {
  font-size: 1.8rem;
  text-align: center;
  width: 80%;
  margin-inline: auto;
}
body.login #login__content-form form {
  text-align: center;
  width: 60%;
  margin-inline: auto;
}
body.login #login__content-form form label {
  display: block;
  font-size: 1.4rem;
}
body.login #login__content-form form label:first-of-type {
  margin: 20px 0 5px;
}
body.login #login__content-form form input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
}
body.login #login__content-form form input:last-of-type {
  margin-bottom: 3rem;
}

.pirate_button {
  font-size: 2rem;
  color: #000;
  font-family: "Pices of Eight", sans-serif;
  padding: 5px 20px;
  min-width: 150px;
  position: relative;
  background-image: url(../img/paper.png);
  background-size: cover;
  background-position: top center;
  cursor: pointer;
}
.pirate_button:hover::after {
  animation: rotate 1.4s linear infinite;
}
@keyframes rotate {
  to {
    transform: translate(50%, -50%) rotate(360deg);
  }
}
.pirate_button::after {
  content: "";
  width: 40px;
  aspect-ratio: 1;
  background-image: url(../img/wheel_pirate.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.formAddActor {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formAddActor_image {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.formAddActor_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.formAddActor_form {
  height: fit-content;
  width: 500px;
  max-width: 80%;
  margin-inline: auto;
  padding: 30px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: relative;
}
.formAddActor_form h1 {
  font-size: 1.8rem;
  text-align: center;
  width: 80%;
  margin-inline: auto;
}
.formAddActor_form form {
  text-align: center;
  width: 90%;
  margin-inline: auto;
}
.formAddActor_form form label {
  display: block;
  font-size: 1.4rem;
}
.formAddActor_form form input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.formAddActor_form form .mainCharacter {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 1rem;
}
.formAddActor_form form .mainCharacter input {
  flex: 0 0 10%;
}
.formAddActor_form form .form_films {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.formAddActor_form form .form_films_item {
  display: flex;
  gap: 1rem;
}
.formAddActor_form form .form_films_item input {
  flex: 0 0 10%;
}

.editActors {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editActors_image {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.editActors_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.editActors_form {
  height: fit-content;
  max-width: 80%;
  width: 500px;
  margin-inline: auto;
  padding: 30px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: relative;
}
.editActors_form h1 {
  font-size: 1.8rem;
  text-align: center;
  width: 80%;
  margin-inline: auto;
  margin-bottom: 1rem;
}
.editActors_form form {
  text-align: center;
  width: 90%;
  margin-inline: auto;
}
.editActors_form form label {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.editActors_form form input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.editActors_form form .mainCharacter {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 1rem;
}
.editActors_form form .mainCharacter input {
  flex: 0 0 10%;
}
.editActors_form form .form_films {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.editActors_form form .form_films_item {
  display: flex;
  gap: 1rem;
}
.editActors_form form .form_films_item input {
  flex: 0 0 10%;
}

.formAddFilms {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formAddFilms_image {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.formAddFilms_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.formAddFilms_form {
  height: fit-content;
  width: 500px;
  max-width: 80%;
  margin-inline: auto;
  padding: 30px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: relative;
}
.formAddFilms_form h1 {
  font-size: 1.8rem;
  text-align: center;
  width: 80%;
  margin-inline: auto;
  margin-bottom: 1rem;
}
.formAddFilms_form form {
  text-align: center;
  width: 90%;
  margin-inline: auto;
}
.formAddFilms_form form label {
  display: block;
  font-size: 1.4rem;
}
.formAddFilms_form form input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.formAddFilms_form form textarea {
  width: 100%;
}
.formAddFilms_form form .mainCharacter {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.formAddFilms_form form .mainCharacter input {
  flex: 0 0 10%;
}
.formAddFilms_form form .form_films {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.formAddFilms_form form .form_films_item {
  display: flex;
  gap: 1rem;
}
.formAddFilms_form form .form_films_item input {
  flex: 0 0 10%;
}

.editFilms {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editFilms_image {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.editFilms_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.editFilms_form {
  height: fit-content;
  width: 500px;
  max-width: 80%;
  margin-inline: auto;
  padding: 30px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: relative;
}
.editFilms_form h1 {
  font-size: 1.8rem;
  text-align: center;
  width: 80%;
  margin-inline: auto;
  margin-bottom: 1rem;
}
.editFilms_form form {
  text-align: center;
  width: 90%;
  margin-inline: auto;
}
.editFilms_form form label {
  display: block;
  font-size: 1.4rem;
}
.editFilms_form form textarea {
  width: 100%;
}
.editFilms_form form input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.editFilms_form form .mainCharacter {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.editFilms_form form .mainCharacter input {
  flex: 0 0 10%;
}
.editFilms_form form .form_films {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.editFilms_form form .form_films_item {
  display: flex;
  gap: 1rem;
}
.editFilms_form form .form_films_item input {
  flex: 0 0 10%;
}

.galerie {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galerie_image {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.galerie_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}
.galerie_title {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galerie_title h1 {
  position: relative;
  color: white;
  margin-bottom: 3rem;
  font-size: 10rem;
  font-family: "Pices of Eight", sans-serif;
}
.galerie_list {
  position: relative;
  transform: translateY(140vh);
}
.galerie_list_container h2 {
  position: relative;
  color: white;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
.galerie_list_container_item {
  display: flex;
  gap: 3rem;
}
.galerie_list_container_item_indiv {
  flex: 0 0 25%;
  height: 300px;
}
.galerie_list_container_item_indiv img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
