.single__film {
    background-color: rgb(30, 30, 30);
    &__btn{
        position: fixed;
        left: 50px;
        top: 70px;
        z-index: 101;
        a {
            font-family: "Pices of Eight", sans-serif;
            color: white;
            font-size: 2.5rem;
            text-decoration: none;
        }
    }
    .single__film {
        margin-bottom: 8rem;
        &-video {
            height: 450px;
            width: 100%;
            overflow: hidden;
            position: relative;
            z-index: 10;

            #ytplayer {
                pointer-events: none;
                border: 0px;
                width: 100%;
                height: 130%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &-content {
            color: #fff;
            position: relative;
            z-index: 20;
            padding: 0 50px;

            h3 {
                font-size: 6vw;
                text-align: center;
                transform: translateY(-50%);
                font-family: "Pices of Eight", sans-serif;
            }
        }

    }
    .comments{
        padding: 0 50px 50px;
        h1 {
            color: #fff;
            font-size: 2rem;
            margin-bottom: 2rem;
        }
        a{
            color: white;
            font-size: 1.5rem;
            text-decoration: underline;
        }
        ul{
            margin-top: 2rem;
            display: flex;
            gap: 3rem;
            flex-wrap: wrap;
            li{
                color: #FFF;
            }
        }
    }
    .related__films {
        padding: 0 50px 50px;
        h1 {
            color: #fff;
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }
}
